/* CSS Reset */


/* Set to make rem values more clear (1.6rem = 16px) */
html {
font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

#root, #__next {
  height: 100%;
  isolation: isolate;
}

body {
  background: #050505;
  color: #ffffff;
  font-family: Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 3em;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: black;
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}

main {
  margin-top: 5.2rem;
}

h1, h2 {
  margin: 2rem auto;
}

p {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes color-change {
  0% {
    color: #ffffff;
  }
    25% {
    color: #69afaf;
  }
  50% {
    color: #0f7db9;
  }
    75% {
    color: #0a91a5;
  }
  100% {
    color: #0fd7cd;
  }
}


footer {
  bottom: 0;
  left: 0;
  position: fixed;
  line-height: 3em;
  width: 100%;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: black;
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}