/* CSS Reset */


/* Set to make rem values more clear (1.6rem = 16px) */
html {
font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

#root, #__next {
  height: 100%;
  isolation: isolate;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

button {
  --blue: #0173ff;
  --radius: 50px;
  --rotate: 0deg;
  padding: 16px 24px;
  border-radius: var(--radius);
  background: var(--blue);
  color: white;
  font-weight: 500;
  font-size: clamp(1rem, 8dvw, 24px);
  border: 0;
  position: relative;
  overflow: hidden;
}

.ring-around {
  position: absolute;
  inset: 0;
  &:before {
    content: "";
    background: conic-gradient(from var(--rotate), transparent 0%, white 5%, transparent 10%);
    position: absolute;;
    inset: 0;
    animation: rotate 2s linear infinite;
  }
  &:after {
    content: "";
    background: linear-gradient(180deg,#ccd3fe, hsl(221, 97%, 62%), #233bc4);
    position: absolute;
    inset: 2px;
    border-radius: calc(var(--radius) - 2px);

  }
}

.text {
  position: relative;
  z-index: 1;
}

@keyframes rotate {
  to {
    --rotate: 360deg;
  }
}

body {
  background: #050505;
  color: #ffffff;
  font-family: Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 3em;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: black;
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}

main {
  margin-top: 5.2rem;
}

h1, h2 {
  margin: 2rem auto;
}

p {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes color-change {
  0% {
    color: #ffffff;
  }
    25% {
    color: #69afaf;
  }
  50% {
    color: #0f7db9;
  }
    75% {
    color: #0a91a5;
  }
  100% {
    color: #0fd7cd;
  }
}


footer {
  bottom: 0;
  left: 0;
  position: fixed;
  line-height: 3em;
  width: 100%;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: black;
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}